main ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

main li {
  margin: 15px;
  padding: 15px;
}

main a {
  text-decoration: none;
}

main a.active {
  color: white;
  background-color: orange;
}
